---
- hosts: raspberrypi
  become: true
  gather_facts: true
  vars:
    LB_API_SERVER_IP: 192.168.1.50
    ETCD_IP: 192.168.1.52
    K3S_CHANNEL: stable

  tasks:
    - name: Get node token from master
      shell: sudo cat /var/lib/rancher/k3s/server/node-token
      register: master_token
      run_once: true
      delegate_to: raspberrypi-00.local
      retries: 5
      delay: 10
      when: "'master' in group_names and inventory_hostname == groups['master'][0]"
      no_log: true

    - name: Install k3s on master nodes with LB_API_SERVER_IP
      # Enable anonymous authentication
      # https://stackoverflow.com/questions/74603633/k3s-allow-unauthenticated-access-to-oidc-endpoints
      # All API server arguments need to be passed using the `kube-apiserver-arg` flag
      # https://docs.k3s.io/cli/server#customized-flags-for-kubernetes-processes
      # https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
      # https://github.com/aws/amazon-eks-pod-identity-webhook/blob/master/SELF_HOSTED_SETUP.md
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_CHANNEL={{ K3S_CHANNEL }} INSTALL_K3S_SKIP_DOWNLOAD=false sh -s - \
          --token {{ master_token.stdout }} \
          --datastore-endpoint=https://{{ ETCD_IP }}:2379 \
          --datastore-cafile=/home/pi/certs/etcd/ca.pem \
          --datastore-keyfile=/home/pi/certs/etcd/client-key.pem \
          --datastore-certfile=/home/pi/certs/etcd/client.pem \
          --disable metrics-server \
          --disable servicelb \
          --disable traefik \
          --disable-kube-proxy \
          --disable-network-policy \
          --flannel-backend=none \
          --secrets-encryption \
          --tls-san {{ LB_API_SERVER_IP }} \
          --tls-san $(hostname -I | awk '{print $1}') \
          --write-kubeconfig-mode=644 \
          --kube-apiserver-arg \
          --anonymous-auth=true \
          --kube-apiserver-arg \
          --service-account-issuer=https://oidc.siutsin.com \
          --kube-apiserver-arg \
          --api-audiences=oidc.siutsin.com \
          --kube-apiserver-arg \
          --service-account-jwks-uri=https://oidc.siutsin.com/openid/v1/jwks
      retries: 5
      delay: 10
      when: "'master' in group_names"

    - name: Change ownership of k3s.yaml to pi:pi
      file:
        path: /etc/rancher/k3s/k3s.yaml
        owner: pi
        group: pi
        state: file
      retries: 5
      delay: 10
      when: "'master' in group_names"

    - name: Install k3s on workers
      shell: |
        curl -sfL https://get.k3s.io | \
          INSTALL_K3S_CHANNEL={{ K3S_CHANNEL }} \
          INSTALL_K3S_SKIP_DOWNLOAD=false \
          K3S_TOKEN={{ hostvars[groups['master'][0]]['master_token']['stdout'] }} \
          K3S_URL=https://{{ LB_API_SERVER_IP }}:443 \
          sh -
      retries: 5
      delay: 10
      when: "'worker' in group_names"

    - name: Get FIRST_MASTER_IP
      set_fact:
        FIRST_MASTER_IP: "{{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}"
      retries: 5
      delay: 10
      when: "'master' in group_names and inventory_hostname == groups['master'][0]"

    - name: Replace first master IP with LB_API_SERVER_IP in local kube config
      replace:
        path: "~/.kube/config"
        regexp: 'server: https://{{ FIRST_MASTER_IP }}:6443'
        replace: "server: https://{{ LB_API_SERVER_IP }}:443"
      delegate_to: localhost
      become: yes
      become_user: simon
      run_once: true
      retries: 5
      delay: 10
      when: "'master' in group_names and inventory_hostname == groups['master'][0]"
