{
  "verifier": {
    ...
  },
  "encCredentials": {
    ...
  },
  "version": "2",
  "deviceUuid": "...",
  "uniqueKey": {
    ...
  }
}

# https://developer.1password.com/docs/connect/get-started/#step-2-deploy-1password-connect-server
