namespace: argocd

argo-cd:
  global:
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
                - key: volume
                  operator: NotIn
                  values:
                    - "true"
  configs:
    cm:
      url: https://argocd.internal.siutsin.com/argocd/
    params:
      server.insecure: true
      server.basehref: /argocd/
      server.rootpath: /argocd
    cmp:
      create: true
      plugins:
        jsonnet-with-secret:
          discover:
            fileName: manifest.jsonnet
          generate:
            command:
              - jsonnet
            args:
              - --yaml-stream
              - manifest.jsonnet
              - --ext-str
              - AWS_ACCOUNT_ID
              - --ext-str
              - CNPG_BACKUP_BUCKET
              - --ext-str
              - CNPG_BACKUP_ENDPOINT
              - --ext-str
              - LONGHORN_BACKUP_TARGET
              - --ext-str
              - HOME_ASSISTANT_VOLUME_FROM_BACKUP
              - --ext-str
              - YAADE_VOLUME_FROM_BACKUP
  dex:
    enabled: false
  notifications:
    enabled: false
  controller:
    replicas: 3
  server:
    autoscaling:
      enabled: true
      minReplicas: 2
  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 3
    containerSecurityContext:
      runAsUser: 999
    rbac:
      - apiGroups:
          - ""
        resources:
          - secrets
        verbs:
          - get
        resourceNames:
          - argocd-jsonnet-secret
    initContainers:
      - name: wait-for-secret
        image: alpine/kubectl:1.35.0@sha256:cb8ca637797c428b41a536a09b696a8e413fb6384b51930a1a91b7b1fe5aa2c8
        command:
          - /bin/sh
          - -c
          - |
            echo "Waiting for secret argocd-jsonnet-secret..."
            until kubectl get secret argocd-jsonnet-secret -n argocd; do
              echo "Secret not found, retrying in 5 seconds..."
              sleep 5
            done
            echo "Secret argocd-jsonnet-secret found!"
        securityContext:
          runAsUser: 1000
    extraContainers:
      - name: jsonnet-with-secret
        env:
          - name: AWS_ACCOUNT_ID
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: AWS_ACCOUNT_ID
          - name: CNPG_BACKUP_BUCKET
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: CNPG_BACKUP_BUCKET
          - name: CNPG_BACKUP_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: CNPG_BACKUP_ENDPOINT
          - name: LONGHORN_BACKUP_TARGET
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: LONGHORN_BACKUP_TARGET
          - name: HOME_ASSISTANT_VOLUME_FROM_BACKUP
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: HOME_ASSISTANT_VOLUME_FROM_BACKUP
          - name: YAADE_VOLUME_FROM_BACKUP
            valueFrom:
              secretKeyRef:
                name: argocd-jsonnet-secret
                key: YAADE_VOLUME_FROM_BACKUP
        command:
          - /var/run/argocd/argocd-cmp-server
        securityContext:
          runAsNonRoot: true
          runAsUser: 999
        image: ghcr.io/siutsin/images/go-jsonnet:202510120038@sha256:8c7f8ae59fdc0bae8a5bc12aec06c687c3c6f4a0410eeded05cc87b7fcc0d076
        volumeMounts:
          - mountPath: /var/run/argocd
            name: var-files
          - mountPath: /home/argocd/cmp-server/plugins
            name: plugins
          - mountPath: /home/argocd/cmp-server/config/plugin.yaml
            subPath: jsonnet-with-secret.yaml
            name: argocd-cmp-cm
          - mountPath: /tmp
            name: cmp-tmp
    volumes:
      - name: argocd-cmp-cm
        configMap:
          name: argocd-cmp-cm
      - name: cmp-tmp
        emptyDir: {}
