---
- name: Run apt update and upgrade
  apt:
    update_cache: yes
    upgrade: yes
  register: apt_update_result
  retries: 3
  delay: 5
  until: apt_update_result is success

- name: Install apt packages
  apt:
    name:
      - bmon
      - cryptsetup
      - git
      - iftop
      - iptables
      - net-tools
      - open-iscsi
      - parted
      - python3-numpy
      - python3-pip
      - python3-rpi.gpio
      - python3-smbus
      - raspi-config
      - ripgrep
      - slurm
      - tcptrack
      - vim
    state: present
  register: apt_install_result
  retries: 3
  delay: 5
  until: apt_install_result is success

- name: Install apt packages for master nodes
  apt:
    name:
      - etcd-client
      - fzf
      - kubectx
    state: present
  when: "'master' in group_names"
  register: apt_master_result
  retries: 3
  delay: 5
  until: apt_master_result is success

- name: Clean up unused packages
  apt:
    autoremove: yes
    purge: yes
