name: blocky
namespace: blocky
ip: 192.168.1.51

app:
  timezone: Europe/London

deployment:
  image:
    repository: ghcr.io/0xerr0r/blocky
    tag: v0.28.0@sha256:db6263d9754d4db549e82286573984cb84c67e8335e378451f330067d2467d88
  probeExec:
    command:
      - /app/blocky
      - healthcheck
  ports:
    http: 4000
  resources:
    requests:
      cpu: 100m
      memory: 300Mi
    limits:
      memory: 300Mi

hpa:
  autoscaling:
    min: 2
    max: 2
