name: teslamate
namespace: teslamate

deployment:
  image:
    repository: teslamate/teslamate
    tag: 2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
  env:
    - name: DISABLE_MQTT
      value: "true"
    - name: TZ
      value: Europe/London
    - name: LOCALE
      value: en
  envFrom:
    - secretRef:
        name: teslamate
    - secretRef:
        name: &databaseSecretName teslamate-20251024-0015

service:
  containerPort: 4000
  port: 4000

grafana:
  annotations:
    reloader.stakater.com/auto: "true"
  image:
    repository: teslamate/grafana
    tag: 2.2.0@sha256:f88cbb90a8c7afa122c6b6851a647edfe7ce7112724db4a8d94853a454f1106a
  envFromSecret: *databaseSecretName
  admin:
    existingSecret: teslamate-grafana

backup:
  schedule: "0 10 * * *"
  verify:
    schedule: "0 12 * * *"
    verificationQuery: "SELECT count(*) FROM positions;"
  ttlSecondsAfterFinished: 86400 # 1 day
  backoffLimit: 4
  concurrencyPolicy: Forbid
  database:
    secretName: teslamate-20251024-0015
    postgresVersion: "17"

