name: teslamate
namespace: teslamate

deployment:
  image:
    repository: teslamate/teslamate
    tag: 2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
  env:
    - name: DISABLE_MQTT
      value: "true"
    - name: TZ
      value: Europe/London
    - name: LOCALE
      value: en
  envFrom:
    - secretRef:
        name: teslamate
    - secretRef:
        name: &databaseSecretName teslamate-20251024-0015

service:
  containerPort: 4000
  port: 4000

grafana:
  annotations:
    reloader.stakater.com/auto: "true"
  image:
    repository: teslamate/grafana
    tag: 2.2.0@sha256:f88cbb90a8c7afa122c6b6851a647edfe7ce7112724db4a8d94853a454f1106a
  envFromSecret: *databaseSecretName
  admin:
    existingSecret: teslamate-grafana

backup:
  schedule: "0 2 * * *"
  ttlSecondsAfterFinished: 600
  backoffLimit: 4
  concurrencyPolicy: Forbid
  image:
    repository: ghcr.io/siutsin/postgres-backup
    tag: v1.0.3-202511190108@sha256:4b8ec284bfc5e928c79c761175b7895a6378ae9315001dbd6bc9f6892c984740
  database:
    secretName: teslamate-20251024-0015
    postgresVersion: "17"
  b2:
    bucket: github-otaru-cloudnative-pg-backup
    endpoint: s3.eu-central-003.backblazeb2.com
    region: eu-central-003
    path: pg_dump/teslamate
