name: teslamate
namespace: teslamate

deployment:
  image:
    repository: teslamate/teslamate
    tag: 2.1.1@sha256:5b03b1a76a043799e3aeaf234d0a02761ee85cf5a662c5ade028218ecf9f0ccc
  env:
    - name: DISABLE_MQTT
      value: "true"
    - name: TZ
      value: Europe/London
    - name: LOCALE
      value: en
  envFrom:
    - secretRef:
        name: teslamate
    - secretRef:
        name: &databaseSecretName teslamate-20251024-0015

service:
  containerPort: 4000
  port: 4000

grafana:
  annotations:
    reloader.stakater.com/auto: "true"
  image:
    repository: teslamate/grafana
    tag: 2.2.0@sha256:f88cbb90a8c7afa122c6b6851a647edfe7ce7112724db4a8d94853a454f1106a
  envFromSecret: *databaseSecretName
  admin:
    existingSecret: teslamate-grafana
