name: home-assistant
namespace: home-assistant

ip: 192.168.1.51

deployment:
  image:
    repository: ghcr.io/home-assistant/home-assistant
    tag: 2025.11.0@sha256:8949aa75a417c0a71208255c999bfb3eea3e909ff2eab4ac4ca26a2cbd886f05
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: volume
                operator: In
                values:
                  - "true"
