name: home-assistant
namespace: home-assistant

ip: 192.168.1.51

deployment:
  image:
    repository: ghcr.io/home-assistant/home-assistant
    tag: 2025.11.1@sha256:c11dd7c74039223c43079d700aa559d6dc61e8e0b38a08d651f91d1bc550cff5
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: volume
                operator: In
                values:
                  - "true"
