---
- hosts: etcd
  become: yes

  tasks:
    - name: Run apt update and upgrade
      apt:
        update_cache: yes
        upgrade: yes
      register: apt_update_result
      retries: 3
      delay: 5
      until: apt_update_result is success

    - name: Install apt packages
      apt:
        name:
          - avahi-daemon
          - dropbear-initramfs
          - golang-cfssl
          - net-tools
          - ufw
        state: present
      register: apt_install_result
      retries: 3
      delay: 5
      until: apt_install_result is success

    - name: Clean up unused packages
      apt:
        autoremove: yes
        purge: yes
