name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 'lts/*'

      - name: Install markdownlint
        run: npm install -g markdownlint-cli

      - name: Setup yq
        uses: vegardit/gha-setup-yq@fe28f4b64ed68f4ce3a57696dc35cdf57990a322 # 1.0.0

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: '3.18.4' # Pending on bugfix: https://github.com/helm/helm/issues/31148

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1
        with:
          tofu_version: '1.8.1'

      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@aefb0a43c4f5503a91fefb307745c4d51c26ed0e # v3
        with:
          terragrunt-version: latest
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install zizmor
        run: pip install zizmor

      - name: Update Helm dependencies
        run: make update-helm-deps

      - name: Run tests
        run: make test
