name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'lts/*'

      - name: Install markdownlint
        run: npm install -g markdownlint-cli

      - name: Setup yq
        uses: vegardit/gha-setup-yq@ab621a91ac86c67e5b68b9f191e70acc09ebc61b # 1.1.0

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: '3.18.4' # Pending on bugfix: https://github.com/helm/helm/issues/31148

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1
        with:
          tofu_version: '1.8.1'

      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@aefb0a43c4f5503a91fefb307745c4d51c26ed0e # v3
        with:
          terragrunt-version: latest
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install editorconfig-checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download --repo editorconfig-checker/editorconfig-checker --pattern 'ec-linux-amd64.tar.gz' --output /tmp/ec.tar.gz
          tar -xzf /tmp/ec.tar.gz -C /tmp
          BINARY=$(find /tmp -type f -name "ec-linux-amd64" | head -n 1)
          chmod +x "$BINARY"
          sudo mv "$BINARY" /usr/local/bin/editorconfig-checker

      - name: Install zizmor
        run: pip install zizmor

      - name: Update Helm dependencies
        run: make update-helm-deps

      - name: Run tests
        run: make test
